<h2><%=@article.title%></h2>
<h3><%=@article.content%></h3>

<%= link_to "Edit the article", edit_article_path %>
<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<%= link_to "All articles", articles_path %>
